3-unit-tracker.json
[
    {
        "id": "08fcdfe3a144f4fb",
        "type": "tab",
        "label": "Units",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f23ca1aff0c112a7",
        "type": "group",
        "z": "08fcdfe3a144f4fb",
        "name": "MQTT In / Parse Unit Messages",
        "style": {
            "label": true,
            "fill": "#ffC000",
            "fill-opacity": "0.35",
            "color": "#000000"
        },
        "nodes": [
            "29f52be3657d4c50",
            "84e5ef82b82a0190",
            "ddd0f3cdb45edb8b",
            "22741438ecb6d687"
        ],
        "x": 34,
        "y": 19,
        "w": 612,
        "h": 122
    },
    {
        "id": "d328b116aa33dad7",
        "type": "group",
        "z": "08fcdfe3a144f4fb",
        "name": "Table",
        "style": {
            "label": true
        },
        "nodes": [
            "afded8e0781f3f82",
            "2381bffbcb87c6bb",
            "9d2dc357fb53f130",
            "64597a8fe283683a",
            "2354bb4d37f72c88",
            "3c63dae405d8ed9d",
            "aa4f4ef6479a11f5"
        ],
        "x": 34,
        "y": 159,
        "w": 612,
        "h": 162
    },
    {
        "id": "ca0b4d1ee464bd29",
        "type": "group",
        "z": "08fcdfe3a144f4fb",
        "name": "Status",
        "style": {
            "label": true
        },
        "nodes": [
            "0cfd3d0a45ac594a",
            "e1289ac1f0854e4f",
            "d8f0a549ad53418a",
            "2dec0d5dc8c565a8",
            "03c0a4f8d7839897",
            "6376ec34e2615364",
            "6b9e13f3c21c4694",
            "ca107e1d1051fa2d"
        ],
        "x": 34,
        "y": 339,
        "w": 612,
        "h": 162
    },
    {
        "id": "aa4f4ef6479a11f5",
        "type": "ui_table",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "group": "0a18b6643078267f",
        "name": "Unit Table",
        "order": 1,
        "width": 17,
        "height": 16,
        "columns": [
            {
                "field": "status",
                "title": "",
                "width": "50",
                "align": "center",
                "formatter": "traffic",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "id",
                "title": "Unit",
                "width": "100",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "alpha",
                "title": "AlphaText",
                "width": "150",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "local",
                "title": "Local Time",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "text",
                "title": "Last TX",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "talkgroup",
                "title": "Last Talkgroup",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "afded8e0781f3f82"
            ]
        ]
    },
    {
        "id": "ca107e1d1051fa2d",
        "type": "ui_text",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "group": "04a3d30649fa7467",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Text",
        "label": "{{label}}",
        "format": "{{text}}",
        "layout": "col-center",
        "className": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "6b9e13f3c21c4694",
        "type": "ui_text",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "group": "04a3d30649fa7467",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Table Label",
        "label": "{{caption.label}}",
        "format": "{{caption.text}}",
        "layout": "col-center",
        "className": "",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "6376ec34e2615364",
        "type": "ui_table",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "group": "04a3d30649fa7467",
        "name": "Side Table",
        "order": 4,
        "width": 7,
        "height": 13,
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "alpha",
                "title": "Alpha",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "d8f0a549ad53418a"
            ]
        ]
    },
    {
        "id": "29f52be3657d4c50",
        "type": "mqtt in",
        "z": "08fcdfe3a144f4fb",
        "g": "f23ca1aff0c112a7",
        "name": "Units In",
        "topic": "server/units/shortname/#",
        "qos": "0",
        "datatype": "json",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ddd0f3cdb45edb8b",
                "22741438ecb6d687"
            ]
        ]
    },
    {
        "id": "84e5ef82b82a0190",
        "type": "link out",
        "z": "08fcdfe3a144f4fb",
        "g": "f23ca1aff0c112a7",
        "name": "To Unit Table",
        "mode": "link",
        "links": [
            "9d2dc357fb53f130"
        ],
        "x": 550,
        "y": 100,
        "wires": [],
        "l": true
    },
    {
        "id": "ddd0f3cdb45edb8b",
        "type": "debug",
        "z": "08fcdfe3a144f4fb",
        "g": "f23ca1aff0c112a7",
        "name": "MQTT debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "22741438ecb6d687",
        "type": "function",
        "z": "08fcdfe3a144f4fb",
        "g": "f23ca1aff0c112a7",
        "name": "Parse Input",
        "func": "var dots = context.get(\"dots\", \"memoryOnly\");\ndots = (dots == undefined) || (dots == \"ring\") ? \"dot\" : \"ring\"\ncontext.set(\"dots\", dots, \"memoryOnly\")\n\n// Status\nnode.status({ fill: \"yellow\", shape: dots, text: \"waiting\" });\n\n// Talkgroup Data Table\nvar tgData = flow.get(\"tgData\");\nif (tgData === undefined) {\n    tgData = {};\n    flow.set(\"tgData\", tgData);\n}\n// Unit Data Table\nvar unitsData = flow.get(\"unitData\");\nif (unitsData === undefined) {\n    unitsData = {};\n    flow.set(\"unitData\", unitsData);\n}\n\n// Display Table \nvar tData = flow.get(\"tData\");\nif (tData === undefined) {\n    tData = {};\n    flow.set(\"tData\", tData);\n}\n\n// Control channel messages\nconst msg_types = [\n    \"end\", \"xans_req\", \"location\", \"join\",\n    \"call\", \"on\", \"off\", \"data\", \"ackresp\"];\n\n// Control messages with talkgroup info\nconst msg_tg_types = [\n    \"end\", \"ans_req\", \"location\", \"join\", \"call\"];\n\nconst unknowns = {\n    \"-1\": \"UNKNOWN\",\n    \"0\": \"NONE\",\n    \"12582912\": \"Test\"\n}\n\n// Get Type\nvar type = msg.payload.type;\n\n// Parse only enabled messages\nif (msg_types.includes(type)) {\n    var system = msg.payload[type].sys_name;\n    var unit = msg.payload[type].unit;\n    var unitalpha = msg.payload[type].unit_alpha_tag;\n\n    if (unit in unknowns) {\n        unitalpha = unknowns[unit];\n    }\n\n    var args = {};\n    // Unit ID\n    args[\"id\"] = unit;\n    // Unit Alpha\n    args[\"alpha\"] = unitalpha\n    // Message Type\n    args[\"text\"] = type + \"\";\n    // ISO Timestampe (hidden) and local time\n    args[\"timestamp\"] = (new Date()).toISOString();\n    args[\"local\"] = new Date(args[\"timestamp\"]).toLocaleString(\"en-US\", { timeZoneName: \"short\" });\n    // On/Encrypted/Off\n    args[\"status\"] = 100;\n\n\n    // Initialize unit rceords\n    var unitdata = unitsData[unit];\n    if (unitdata === undefined) {\n        unitdata = {};\n    }\n    if (unitalpha != \"\") {\n        unitdata.alpha = unitalpha;\n    }\n    if (unitdata.subs === undefined) {\n        unitdata.subs = [];\n    }\n\n    // Parse messages with TG info\n    if (msg_tg_types.includes(type)) {\n        var tgnum = msg.payload[type].talkgroup;\n        var tgalpha = msg.payload[type].talkgroup_alpha_tag\n\n        if (tgnum in unknowns) {\n            tgalpha = unknowns[tgnum];\n        }\n        args[\"talkgroup\"] = tgnum + \" [\" + tgalpha + \"]\";\n\n        // Initialize talkgroup records\n        var talkdata = tgData[tgnum];\n        if (talkdata === undefined) {\n            talkdata = {};\n        }\n        if (tgalpha != \"\") {\n            talkdata.alpha = tgalpha;\n        }\n\n        if (talkdata.subs === undefined) {\n            talkdata.subs = [];\n        }\n\n        // Add unit to talkgroup records\n        if (!talkdata.subs.includes(unit)) {\n            talkdata.subs.push(unit);\n            tgData[tgnum] = talkdata;\n        }\n\n        // Add talkgroups to unit records\n        if (!unitdata.subs.includes(tgnum)) {\n            unitdata.subs.push(tgnum);\n            unitsData[unit] = unitdata;\n        }\n    }\n\n    //  Check for special cases\n    switch (type) {\n        case \"off\":\n            // Display unit as red on table\n            args[\"status\"] = 0;\n            break;\n        case \"call\":\n            // Add encryption notes, display yellow if encrypted\n            if (msg.payload[type].encrypted == \"true\") {\n                talkdata.encrypted = true;\n                unitdata.encrypted = true;\n                args[\"talkgroup\"] = args[\"talkgroup\"] + \" [E]\";\n                args[\"status\"] = 50;\n            } else {\n                talkdata.encrypted = false;\n                unitdata.encrypted = false;\n            }\n            unitsData[unit] = unitdata;\n            tgData[tgnum] = talkdata;\n    }\n\n    node.status({ fill: \"green\", shape: dots, text: system + \" \" + type + \" \" + unit });\n\n    // Save datatables\n    tData[unit] = args;\n    flow.set(\"unitData\", unitsData);\n    flow.set(\"tgData\", tgData);\n    flow.set(\"tData\", tData);\n\n    // Send to table \n    msg.payload = {\n        command: \"updateOrAddData\",\n        arguments: [[args]],\n        returnPromise: true\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"waiting\" });",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "84e5ef82b82a0190"
            ]
        ],
        "info": "# updateOrAddData([row])\n\nadds a the row with a new id (same as addRow)"
    },
    {
        "id": "afded8e0781f3f82",
        "type": "function",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "Table Manager",
        "func": "var dots = context.get(\"dots\", \"memoryOnly\");\ndots = (dots == undefined) || (dots == \"ring\") ? \"dot\" : \"ring\"\ncontext.set(\"dots\", dots, \"memoryOnly\")\n\nvar status = { fill: \"yellow\", shape: dots, text: \"idle\" };\nvar success = (msg.topic && msg.topic === \"success\") || false;\n\n// initialize flow table\nvar tData = flow.get(\"tData\");\nif (tData === undefined) {\n    tData = [];\n    flow.set(\"tData\", tData);\n}\n\n// auto-sort message\nconst sortmsg = {\n    payload: {\n        command: \"setSort\",\n        arguments: [[{ column: \"timestamp\", dir: \"desc\" }]],\n        returnPromise: false\n    }\n};\n\n// label output message\nvar tLength = Object.keys(tData).length;\nvar caption = {\n    topic: \"caption\",\n    label: tLength + \" Units Recorded\",\n    text: \"-\"\n};\n\nswitch (typeof msg.payload) {\n    case \"string\":\n        switch (msg.payload) {\n            // refresh table on reload, hide timestamp column\n            case \"change\":\n                status = { fill: \"green\", shape: dots, text: \"table restored \" + tLength + \" rows\" };\n                caption.text = \"Table Restored\";\n                msg.payload = Object.values(tData)\n                msg.ui_control = { \"tabulator\": { \"columns\": [{ \"field\": \"timestamp\", \"visible\": false }] } };\n                break;\n        }\n        break;\n    case \"object\":\n        switch (msg.payload.command) {\n            case \"clearData\":\n                // clearData does not return a promise!\n                // clear the table data\n                status = { fill: \"green\", shape: dots, text: \"clearData: done\" };\n                tData = {};\n                flow.set(\"tData\", tData)\n                break;\n        }\n        // Handle lookup requests\n        var out_msg = { topic: \"id\", payload: {} };\n\n        // Lookup by unit/alpha\n        if ([\"id\", \"alpha\"].includes(msg.topic)) {\n            var unit = msg.payload.id;\n            out_msg.payload = { type: \"unit\", id: unit };\n            node.send([, out_msg]);\n        }\n        // lookup by talkgroup\n        else if ((msg.topic == \"talkgroup\") && (msg.payload.talkgroup != undefined)) {\n            var tg = (msg.payload.talkgroup).split(\" \", 1);\n            out_msg.payload = { type: \"talkgroup\", id: tg };\n            node.send([, out_msg]);\n        }\n        break;\n    default:\n        // likely a msg fom a ui-table command or callback\n        if (msg.hasOwnProperty(\"topic\") &&\n            msg.hasOwnProperty(\"ui_control\") &&\n            msg.ui_control.hasOwnProperty(\"callback\") &&\n            msg.hasOwnProperty(\"return\")) {\n            // message originates from a ui-table callback\n            if (success) {\n                switch (msg.return.command) {\n                    case \"updateOrAddData\":\n                        var stattext = msg.return.arguments[0][0].text + \" \" + msg.return.arguments[0][0].id;\n                        status.text = tLength + \" | \" + stattext;\n                        caption.text = stattext;\n                        break;\n                    default:\n                        status = { fill: \"yellow\", shape: dots, text: msg.return.command + \" unknown!\" };\n                        break;\n                }\n            } else {\n                status.text = msg.topic + \" \" + msg.error;\n            }\n        }\n        break;\n}\n\nif (success) status.fill = \"green\";\nnode.status(status);\nnode.send([msg, caption]);\n\n// send a sort command\nif (flow.get(\"sorted\") == true) {\n    return sortmsg;\n} else {\n    return;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"idle\" });",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "64597a8fe283683a"
            ],
            [
                "3c63dae405d8ed9d"
            ]
        ],
        "icon": "font-awesome/fa-database",
        "info": "# simple ui-table handler\n## abstract\nUsing ui-table with commands offer the hole flexibilty of tabulator. The table can be manipulated down to cell level.\nAs the ui-table node only passes the commands to tabulator and receives promises back the node does not hold the table data. If the data should be available after refresh, tab change, new connections the flow is responsible to cache the data and all the manipulations.\nThis node takes care of most simple data manipulation commands and holds a copy of the data in `flow.context.tabledata`\n\n## details\n\n### row index (id)\n\nTo identify a [row a index](http://tabulator.info/docs/4.5/data#overview) column has to be defined. This colum defaults to `id` but can be changed by specifing a **field** by using `msg.ui_control`. In this example the row index is a simple counter adding up by one if a new line is added.\n\n### addRow command\n\n[details @ tabulator addRow docs](http://tabulator.info/docs/4.5/update#alter-add)\n\nYou can add a row by sending the `addRow` command. You can decide if the row adds on the top or at the bottom of table.\n\n### addOrUpdate command\n\n[details @ tabulator addOrUpdate docs](http://tabulator.info/docs/4.5/update#alter-update)\n\nTo update data the best way is to use the `addOrUpdate` command. If the row indetified by the index is not exeisting a new row will be added automatically\n\n### deleteRow command\n\n[details @ tabulator deleteRow docs](http://tabulator.info/docs/4.5/update#row)\n\nDelete one or more rows (passing an array always results in \"row not found error\"! I think there is an issue in tabulator)\n\n### clearData\n\n[details @ tabulator clearData docs](http://tabulator.info/docs/4.5/update#alter-empty)\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"
    },
    {
        "id": "2381bffbcb87c6bb",
        "type": "ui_ui_control",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "Reload",
        "events": "all",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "afded8e0781f3f82"
            ]
        ]
    },
    {
        "id": "9d2dc357fb53f130",
        "type": "link in",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "Unit Table",
        "links": [
            "64597a8fe283683a",
            "84e5ef82b82a0190",
            "a148bec32490b4ed"
        ],
        "x": 75,
        "y": 200,
        "wires": [
            [
                "aa4f4ef6479a11f5"
            ]
        ]
    },
    {
        "id": "64597a8fe283683a",
        "type": "link out",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "To Unit Table",
        "mode": "link",
        "links": [
            "9d2dc357fb53f130"
        ],
        "x": 550,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "2354bb4d37f72c88",
        "type": "link in",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "Table Recorder",
        "links": [
            "140c9ee6982ddcfd"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "afded8e0781f3f82"
            ]
        ]
    },
    {
        "id": "3c63dae405d8ed9d",
        "type": "link out",
        "z": "08fcdfe3a144f4fb",
        "g": "d328b116aa33dad7",
        "name": "To Status >",
        "mode": "link",
        "links": [
            "0cfd3d0a45ac594a"
        ],
        "x": 550,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "0cfd3d0a45ac594a",
        "type": "link in",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "name": "Status",
        "links": [
            "3c63dae405d8ed9d",
            "d8f0a549ad53418a"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "e1289ac1f0854e4f",
                "ca107e1d1051fa2d"
            ]
        ]
    },
    {
        "id": "e1289ac1f0854e4f",
        "type": "function",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "name": "Lookup",
        "func": "\nconst topics = [\"alpha\", \"id\"];\n\nif (topics.includes(msg.topic)) {\n    var type = msg.payload.type;\n    var id = msg.payload.id\n\n    var out_type = \"\";\n    var out_title = \"\";\n\n    msg.caption = {};\n\n    // Pick Alpha Lookup Tables\n    // Display TGs associated with a UID\n    if (type == \"unit\") {\n        var data = flow.get(\"unitData\")[id];\n        var alpha = data.alpha ?? \"-\";\n\n        msg.caption.label = \"Unit\"\n        msg.caption.text = id + \" : \" + alpha;\n\n        var dataTable = flow.get(\"tgData\");\n        out_type = \"talkgroup\";\n        out_title = \"TG\";\n    }\n\n    // Display Units associated with a TG\n    else if (type == \"talkgroup\") {\n        var data = flow.get(\"tgData\")[id];\n        var alpha = data.alpha ?? \"-\";\n        var encrypt = data.encrypted ?? \"false\"\n\n        if (encrypt == true) { alpha = alpha + \" [E]\"; }\n\n        msg.caption.label = \"Talkgroup\"\n        msg.caption.text = id + \" : \" + alpha;\n\n        var dataTable = flow.get(\"unitData\");\n        out_type = \"unit\";\n        out_title = \"UID\";\n    }\n    node.status({ fill: \"green\", shape: \"ring\", text: type + \": \" + id });\n\n    // Get IDs\n    var subs = (data[\"subs\"]).sort((a, b) => a - b)\n\n    // Parse Messages\n    var tableout = []\n    for (let index = 0; index < subs.length; index++) {\n        var sub = {}\n        var id = subs[index];\n        var alphas = \"\";\n\n        if (id in dataTable) {\n            if (\"alpha\" in dataTable[id]) {\n                alphas = dataTable[id].alpha;\n            }\n        }\n        sub[\"id\"] = id;\n        sub[\"alpha\"] = alphas;\n        sub[\"type\"] = out_type;\n        tableout.push(sub)\n    }\n\n    //Send\n    msg.ui_control = { \"tabulator\": { \"columns\": [{ \"field\": \"id\", \"title\": out_title }] } };\n    msg.payload = tableout;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"waiting\" });",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 460,
        "wires": [
            [
                "6376ec34e2615364",
                "6b9e13f3c21c4694"
            ]
        ],
        "info": "# updateOrAddData([row])\n\nadds a the row with a new id (same as addRow)"
    },
    {
        "id": "d8f0a549ad53418a",
        "type": "link out",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "name": "To Status >",
        "mode": "link",
        "links": [
            "0cfd3d0a45ac594a"
        ],
        "x": 550,
        "y": 460,
        "wires": [],
        "l": true
    },
    {
        "id": "2dec0d5dc8c565a8",
        "type": "change",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "name": "Toggle Sort",
        "rules": [
            {
                "t": "set",
                "p": "sorted",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "03c0a4f8d7839897",
        "type": "ui_switch",
        "z": "08fcdfe3a144f4fb",
        "g": "ca0b4d1ee464bd29",
        "name": "",
        "label": "Auto-Update",
        "tooltip": "",
        "group": "04a3d30649fa7467",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "sorted",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "2dec0d5dc8c565a8"
            ]
        ]
    },
    {
        "id": "08ce8c0c3a6f0585",
        "type": "comment",
        "z": "08fcdfe3a144f4fb",
        "name": "README",
        "info": "1. Set the MQTT server and topic in \"Units In\"\n    trunked: `trunk/units/shortname/#`\n    conventional: `trunk/units/convp25/end`\n\nUnit Messages must be enabled in the plugin config.",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "0a18b6643078267f",
        "type": "ui_group",
        "name": "Units",
        "tab": "494505054ef8210a",
        "order": 1,
        "disp": false,
        "width": "17",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04a3d30649fa7467",
        "type": "ui_group",
        "name": "Commands",
        "tab": "494505054ef8210a",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61de5090.0f5d9",
        "type": "mqtt-broker",
        "name": "Local MQTT Server",
        "broker": "192.168.1.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "494505054ef8210a",
        "type": "ui_tab",
        "name": "Local",
        "icon": "fa-table",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]